# Objectives
1. To observe how the price of various produce has changed overtime. To do this, I am going to collect data from [producepriceindex.com](https://www.producepriceindex.com) which cites its sources for this data as the USDA Market News Reports for Farm Gate Prices & U.S. Marketing Services for Retail Prices. The data appears to cover weekly prices from January 2000 to around May 2019. I don't see an option to download this data and am going to collect it via BeautifulSoup.

In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import pandas as pd # Need to export data as df

In [6]:
URL = "http://www.producepriceindex.com/"

In [8]:
uClient = urlopen(URL) # Opens first page
html = uClient.read() # Reads in all HTML for that page
uClient.close() # Close connection
page_soup = soup(html, 'html.parser') # Create soup object
data = page_soup.find_all('td') # Grab the table data section
data # Shows the first page of data

[<td class="fix-width-16">
             Strawberries          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $1.16          </td>, <td class="fix-width-12">
             $2.23          </td>, <td class="fix-width-12">
             $1.70          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="fix-width-12">
             $2.54          </td>, <td class="views-field views-field-expression-4">
             82.33%          </td>, <td class="fix-width-16">
             Romaine Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.35          </td>, <td class="fix-width-12">
             $1.72          </td>, <td class="fix-width-12">
             $2.00          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="views-field views-field-expression-4">
             428.57%          </td>, <td class="fix-width-16">
             Red Leaf Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.32          </td>, <td class="fix-width-12">
             $1.84          </td>, <td class="fix-width-12">
             $1.84          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.89          </td>, <td class="views-field views-field-expression-4">
             467.19%          </td>, <td class="fix-width-16">
             Potatoes          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $1.50          </td>, <td class="fix-width-12">
             $5.32          </td>, <td class="fix-width-12">
             $5.14          </td>, <td class="fix-width-12">
             $3.99          </td>, <td class="fix-width-12">
             $6.22          </td>, <td class="views-field views-field-expression-4">
             244.50%          </td>, <td class="fix-width-16">
             Oranges          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.41          </td>, <td class="fix-width-12">
             $1.42          </td>, <td class="fix-width-12">
             $1.45          </td>, <td class="fix-width-12">
             $1.34          </td>, <td class="fix-width-12">
             $2.05          </td>, <td class="views-field views-field-expression-4">
             281.71%          </td>, <td class="fix-width-16">
             Iceberg Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.35          </td>, <td class="fix-width-12">
             $1.39          </td>, <td class="fix-width-12">
             $1.46          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.56          </td>, <td class="views-field views-field-expression-4">
             335.71%          </td>, <td class="fix-width-16">
             Green Leaf Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.31          </td>, <td class="fix-width-12">
             $1.72          </td>, <td class="fix-width-12">
             $1.70          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.71          </td>, <td class="views-field views-field-expression-4">
             450.00%          </td>, <td class="fix-width-16">
             Celery          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $2.83          </td>, <td class="fix-width-12">
             $1.89          </td>, <td class="fix-width-12">
             $2.36          </td>, <td class="fix-width-12">
             $2.52          </td>, <td class="fix-width-12">
             $2.49          </td>, <td class="views-field views-field-expression-4">
             -18.20%          </td>, <td class="fix-width-16">
             Cauliflower          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $1.22          </td>, <td class="fix-width-12">
             $3.24          </td>, <td class="fix-width-12">
             $4.35          </td>, <td class="fix-width-12">
             $4.03          </td>, <td class="fix-width-12">
             $2.97          </td>, <td class="views-field views-field-expression-4">
             198.98%          </td>, <td class="fix-width-16">
             Carrots          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.24          </td>, <td class="fix-width-12">
             $0.95          </td>, <td class="fix-width-12">
             $0.95          </td>, <td class="fix-width-12">
             $0.99          </td>, <td class="fix-width-12">
             $1.22          </td>, <td class="views-field views-field-expression-4">
             328.13%          </td>, <td class="fix-width-16">
             Cantaloupe          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $1.25          </td>, <td class="fix-width-12">
             $2.34          </td>, <td class="fix-width-12">
             $2.87          </td>, <td class="fix-width-12">
             $2.87          </td>, <td class="fix-width-12">
             $2.94          </td>, <td class="views-field views-field-expression-4">
             120.40%          </td>, <td class="fix-width-16">
             Broccoli Crowns          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $0.73          </td>, <td class="fix-width-12">
             $1.49          </td>, <td class="fix-width-12">
             $1.80          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="views-field views-field-expression-4">
             148.97%          </td>, <td class="fix-width-16">
             Avocados          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-19T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-19</span> </td>, <td class="fix-width-12">
             $1.23          </td>, <td class="fix-width-12">
             $1.16          </td>, <td class="fix-width-12">
             $1.82          </td>, <td class="fix-width-12">
             $1.75          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="views-field views-field-expression-4">
             30.49%          </td>, <td class="fix-width-16">
             Strawberries          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.91          </td>, <td class="fix-width-12">
             $2.67          </td>, <td class="fix-width-12">
             $1.89          </td>, <td class="fix-width-12">
             $2.47          </td>, <td class="fix-width-12">
             $2.66          </td>, <td class="views-field views-field-expression-4">
             166.21%          </td>, <td class="fix-width-16">
             Romaine Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.36          </td>, <td class="fix-width-12">
             $1.74          </td>, <td class="fix-width-12">
             $2.00          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="views-field views-field-expression-4">
             415.28%          </td>, <td class="fix-width-16">
             Red Leaf Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.34          </td>, <td class="fix-width-12">
             $1.84          </td>, <td class="fix-width-12">
             $1.75          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.75          </td>, <td class="views-field views-field-expression-4">
             416.91%          </td>, <td class="fix-width-16">
             Potatoes          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $1.50          </td>, <td class="fix-width-12">
             $5.07          </td>, <td class="fix-width-12">
             $5.14          </td>, <td class="fix-width-12">
             $3.99          </td>, <td class="fix-width-12">
             $6.22          </td>, <td class="views-field views-field-expression-4">
             240.33%          </td>, <td class="fix-width-16">
             Oranges          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.41          </td>, <td class="fix-width-12">
             $1.42          </td>, <td class="fix-width-12">
             $1.55          </td>, <td class="fix-width-12">
             $1.31          </td>, <td class="fix-width-12">
             $1.90          </td>, <td class="views-field views-field-expression-4">
             276.83%          </td>, <td class="fix-width-16">
             Iceberg Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.36          </td>, <td class="fix-width-12">
             $1.44          </td>, <td class="fix-width-12">
             $1.46          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.49          </td>, <td class="views-field views-field-expression-4">
             322.22%          </td>, <td class="fix-width-16">
             Green Leaf Lettuce          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.35          </td>, <td class="fix-width-12">
             $1.72          </td>, <td class="fix-width-12">
             $1.70          </td>, <td class="fix-width-12">
             $1.69          </td>, <td class="fix-width-12">
             $1.71          </td>, <td class="views-field views-field-expression-4">
             387.14%          </td>, <td class="fix-width-16">
             Celery          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $2.84          </td>, <td class="fix-width-12">
             $1.65          </td>, <td class="fix-width-12">
             $2.36          </td>, <td class="fix-width-12">
             $2.52          </td>, <td class="fix-width-12">
             $2.24          </td>, <td class="views-field views-field-expression-4">
             -22.80%          </td>, <td class="fix-width-16">
             Cauliflower          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $2.74          </td>, <td class="fix-width-12">
             $3.24          </td>, <td class="fix-width-12">
             $4.35          </td>, <td class="fix-width-12">
             $3.98          </td>, <td class="fix-width-12">
             $3.48          </td>, <td class="views-field views-field-expression-4">
             37.32%          </td>, <td class="fix-width-16">
             Carrots          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.30          </td>, <td class="fix-width-12">
             $0.95          </td>, <td class="fix-width-12">
             $0.96          </td>, <td class="fix-width-12">
             $0.99          </td>, <td class="fix-width-12">
             $1.22          </td>, <td class="views-field views-field-expression-4">
             243.33%          </td>, <td class="fix-width-16">
             Cantaloupe          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $1.41          </td>, <td class="fix-width-12">
             $2.47          </td>, <td class="fix-width-12">
             $2.91          </td>, <td class="fix-width-12">
             $2.75          </td>, <td class="fix-width-12">
             $3.11          </td>, <td class="views-field views-field-expression-4">
             99.29%          </td>, <td class="fix-width-16">
             Broccoli Crowns          </td>, <td class="fix-width-12">
 <span class="date-display-single" content="2019-05-12T00:00:00-07:00" datatype="xsd:dateTime" property="dc:date">2019-05-12</span> </td>, <td class="fix-width-12">
             $0.81          </td>, <td class="fix-width-12">
             $1.65          </td>, <td class="fix-width-12">
             $1.72          </td>, <td class="fix-width-12">
             $1.99          </td>, <td class="fix-width-12">
             $2.10          </td>, <td class="views-field views-field-expression-4">
             130.25%          </td>]

In [9]:
# Grab all page urls. There are 637 pages
urls = ['http://www.producepriceindex.com/']
for i in range(1, 638):
    urls.append(URL+f'produce-price-index?field_ppi_commodity_target_id=All&field_ppi_date_value%5Bmin%5D=&field_ppi_date_value%5Bmax%5D=&page={i}')

Create a dictionary to store commodity data. Each produce item will serve as a key in this dictionary
The value data will be a list of the date followed by the farm price, Atlanta, Chicago, LA, and NYC retail prices,
and finally the average spread. This list will repeat these 7 data points each time a commodity shows up on a page
For example, for strawberries, the entry will look something like

```{"strawberries": ['2019-05-01', '$0.89', '$2.09', '$2.49', '$3.00', '$3.01', '139.82%', "2019-04-20", ...]}```

Will have to fix the data types and configure it into a dataframe later. Collect data into the dictionary "produce" for now

In [11]:
produce = dict() # create an empty dictionary to hold all data

# For each page on the website, read in the soup object and find all table data
for page in urls:
    uClient = urlopen(page)
    html = uClient.read()
    uClient.close()
    page_soup = soup(html, 'html.parser')
    data = page_soup.find_all('td')
    
    # When you have the html table data, loop through all 25 rows
    for j in range(0, 25):
        commodity = []
        for i in data[0 + 8*j].contents[0].split(' '): # Pick out the name of the commodity (happens every 8 iterations)
            if (i != '') & (i != '\n'):
                commodity.append(i) # Pick out only the name, ditch the white spaces and newline


        # If the commodity name is one word long, set the dictionary with that word. If not already set, create an empty list
        if len(commodity) == 1: 
            word = commodity[0]
            if word not in produce:
                produce[word] = []
            produce[word].append(data[1 + 8*j].span.string) # append the date to the list. Found at position 1 and every 8 iterations thereafter

        # otherwise if the commodity is 2 words, fix this into a single item to serve as key. Then do the same as above
        elif len(commodity) == 2: 
            word = commodity[0] + ' ' + commodity[1]
            if word not in produce:
                produce[word] = []
            produce[word].append(data[1 + 8*j].span.string)

        # 3 words...
        elif len(commodity) == 3:
            word = commodity[0] + ' ' + commodity[1] + ' ' + commodity[2]
            if word not in produce:
                produce[word] = []
            produce[word].append(data[1 + 8*j].span.string)
        
        # 4 words...
        elif len(commodity) == 4:
            word = commodity[0] + ' ' + commodity[1] + ' ' + commodity[2] + ' ' + commodity[3]
            if word not in produce:
                produce[word] = []
            produce[word].append(data[1 + 8*j].span.string)

        # If there's anything longer than 4 words in the commodities column, show me (there's not)
        else:
            print(len(commodity))


        # Now collect the values for each commodity key
        # Everything repeats after 8 iterations, hence the 8*j.
        # data[2 + 8*j] holds the farm price
        for i in data[2 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

        # data[3 + 8*j] holds the Atlanta Retail Price
        for i in data[3 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

        # Holds the Chicago Retail Price
        for i in data[4 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

        # Los Angeles Retail Price
        for i in data[5 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

        
        # New York Retail Price
        for i in data[6 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

        
        # Average Spread
        for i in data[7 + 8*j].string.split(' '):
            if (i != '') & (i != '\n'):
                produce[word].append(i)

The above code creates a dictionary that holds the produce names as keys, and a list of all the available data for that produce as its value pair. This is pretty messy. To clean this up, I will be storing the same keys, but for the values I will put all the data into a dataframe with the date as an index.

In [28]:
# Start an empty dictionary
produce_df_dict = dict()

# Create an empty list to store dataframes for concatenation
df_list = []

# iterate through every key in the produce dictionary and create a data frame from its data. Every 7 elements
# in the values for a given key becomes a row in the df. There are 985 total items in each list
for name in list(produce.keys()):
    for i in range(986):
        df_list.append(pd.DataFrame(produce['Strawberries'][7*i: 7*(i+1)]).T)
    
    produce_df_dict[str(name)] = pd.concat(df_list)
    produce_df_dict[str(name)].columns = ['Date', 'Farm Price', 'Atlanta Retail', 'Chicago Retail', 'LA Retail', 'NYC Retail', 'Avg Spread']
    produce_df_dict[str(name)].index = produce_df_dict[str(name)]['Date']
    produce_df_dict[str(name)].drop(columns =['Date'], inplace=True)
    produce_df_dict[str(name)]['Farm Price'] = pd.to_numeric(produce_df_dict[str(name)]['Farm Price'].str.replace('$', ''))
    produce_df_dict[str(name)]['Atlanta Retail'] = pd.to_numeric(produce_df_dict[str(name)]['Atlanta Retail'].str.replace('$', ''))
    produce_df_dict[str(name)]['Chicago Retail'] = pd.to_numeric(produce_df_dict[str(name)]['Chicago Retail'].str.replace('$', ''))
    produce_df_dict[str(name)]['LA Retail'] = pd.to_numeric(produce_df_dict[str(name)]['LA Retail'].str.replace('$', ''))
    produce_df_dict[str(name)]['NYC Retail'] = pd.to_numeric(produce_df_dict[str(name)]['NYC Retail'].str.replace('$', ''))

In [29]:
produce_df_dict.keys()

dict_keys(['Strawberries', 'Romaine Lettuce', 'Red Leaf Lettuce', 'Potatoes', 'Oranges', 'Iceberg Lettuce', 'Green Leaf Lettuce', 'Celery', 'Cauliflower', 'Carrots', 'Cantaloupe', 'Broccoli Crowns', 'Avocados', 'Broccoli Bunches', 'Asparagus', 'Flame Grapes', 'Thompson Grapes', 'Honeydews', 'Tomatoes', 'Plums', 'Peaches', 'Nectarines'])

In [30]:
produce_df_dict['Strawberries']

,Farm Price,Atlanta Retail,Chicago Retail,LA Retail,NYC Retail,Avg Spread
Date,,,,,,
2019-05-19,1.16,2.23,1.70,1.99,2.54,82.33%
2019-05-12,0.91,2.67,1.89,2.47,2.66,166.21%
2019-05-05,0.58,2.42,1.89,2.12,2.91,302.59%
2019-04-28,0.58,2.79,1.95,2.38,2.96,334.48%
2019-04-21,0.69,2.92,2.04,2.38,3.16,280.43%
...,...,...,...,...,...,...
1999-08-23,0.72,2.62,0.00,3.12,2.59,189.24%
1999-08-16,0.58,2.44,0.00,3.22,2.77,263.36%
1999-08-09,0.65,2.49,0.00,2.99,2.87,221.15%
1999-08-02,0.71,2.37,0.00,2.87,2.19,161.62%
1999-07-26,0.64,1.94,0.00,1.99,2.12,136.33%

In [12]:
for i in range(986):
    list_strawberries_df.append(pd.DataFrame(produce['Strawberries'][7*i: 7*(i+1)]).T)
    
strawberries_df = pd.concat(list_strawberries_df)
strawberries_df.columns = ['Date', 'Farm Price', 'Atlanta Retail', 'Chicago Retail', 'LA Retail', 'NYC Retail', 'Avg Spread']
strawberries_df.index = strawberries_df['Date']
strawberries_df.drop(columns =['Date'], inplace=True)
strawberries_df['Farm Price'] = pd.to_numeric(strawberries_df['Farm Price'].str.replace('$', ''))
strawberries_df['Atlanta Retail'] = pd.to_numeric(strawberries_df['Atlanta Retail'].str.replace('$', ''))
strawberries_df['Chicago Retail'] = pd.to_numeric(strawberries_df['Chicago Retail'].str.replace('$', ''))
strawberries_df['LA Retail'] = pd.to_numeric(strawberries_df['LA Retail'].str.replace('$', ''))
strawberries_df['NYC Retail'] = pd.to_numeric(strawberries_df['NYC Retail'].str.replace('$', ''))

,Farm Price,Atlanta Retail,Chicago Retail,LA Retail,NYC Retail,Avg Spread
Date,,,,,,
2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
2019-05-12,$0.91,$2.67,$1.89,$2.47,$2.66,166.21%
2019-05-05,$0.58,$2.42,$1.89,$2.12,$2.91,302.59%
2019-04-28,$0.58,$2.79,$1.95,$2.38,$2.96,334.48%
2019-04-21,$0.69,$2.92,$2.04,$2.38,$3.16,280.43%
...,...,...,...,...,...,...
1999-08-23,$0.72,$2.62,$0.00,$3.12,$2.59,189.24%
1999-08-16,$0.58,$2.44,$0.00,$3.22,$2.77,263.36%
1999-08-09,$0.65,$2.49,$0.00,$2.99,$2.87,221.15%
1999-08-02,$0.71,$2.37,$0.00,$2.87,$2.19,161.62%
1999-07-26,$0.64,$1.94,$0.00,$1.99,$2.12,136.33%

In [13]:
strawberries_df['Farm Price'] = pd.to_numeric(strawberries_df['Farm Price'].str.replace('$', ''))
strawberries_df['Atlanta Retail'] = pd.to_numeric(strawberries_df['Atlanta Retail'].str.replace('$', ''))
strawberries_df['Chicago Retail'] = pd.to_numeric(strawberries_df['Chicago Retail'].str.replace('$', ''))
strawberries_df['LA Retail'] = pd.to_numeric(strawberries_df['LA Retail'].str.replace('$', ''))
strawberries_df['NYC Retail'] = pd.to_numeric(strawberries_df['NYC Retail'].str.replace('$', ''))